{% extends "base.html" %}

{% block options %}
   <li>
        Threshold <input id="threshold" type="number" value="4">
   </li>
  <li>
      <div class="dropdown">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Similarity
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
              <li><a href="#">Certificates_count</a><input id="Certificates_count" type="number"></li>
              <li><a href="#">Publications_count</a><input id="Pubs_count" type="number"></li>
              <li><a href="#">Awards_count</a><input id="Awards_count" type="number"></li>
              <li><a href="#">Grants_count</a><input id="Grants_count" type="number"></li>
              <li><a href="#">Memberships_count</a><input id="Memberships_count" type="number"></li>
              <li><a href="#">City</a><input id="City" type="number"></li>
              <li><a href="#">State</a><input id="State" type="number"></li>
              <li><a href="#">Current Hospital</a><input id="Current_hospital" type="number"></li>
          </ul>
      </div>
      <button id="update" class="btn btn-xs">Update</button>
  </li>

{% endblock %}

{% block layout_content %}
    <div class="grid">
    <svg ></svg>
        </div>
{% endblock %}
{% block script_content %}
     <script type="text/javascript" src="{{ url_for('static', filename='js/graph_old.js') }}"></script>
{% endblock %}


{% block d3 %}
   <script src="https://d3js.org/d3.v4.min.js"></script>
{% endblock %}


